@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");


.heading{
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    
}
.mentorss{
    padding-top: 30px;
}

.headings{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
.main-white{
    padding-left: 30rem;
    padding-right: 30rem;
}
.batch-head{
    font-size: large;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.batch-theory{
    font-size: 15px;
    border-style:ridge;
}
.border-add{
    
}
.impact{
    padding-left: 2rem;
    padding-right: 2rem;
}
.impact-content{
    background-color: #F5F5F5;
    border-style: ridge;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 2rem;
    
}
.impact-theory{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    padding-top: 2rem;
    
}
.circles{
    padding-top: 2rem;
    border-style: ridge;
    font-size: 2rem;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    
}
.impact-circle{
    padding-top: 2rem;
}
.journey{
    padding-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
}
.adore-theory{
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 400;
    font-size: 1.8rem;
    padding-top: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 2rem;
}

.comm{
    padding-top: 2rem;
}
.member{
    padding-top: 1.5rem;
    width: 200px;
    height: 222px;
    border-style: ridge;
    box-shadow: 8px 8px #E5E5E5;
}

.mem-image{
    width: 60px;
    height: 60px;
    background-color: grey;
    border-radius: 50%;
}
 .mem-name{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: 650;
     font-size: 15px;
     padding-bottom: 1rem;
 }
 .mem-review{
     font-size: 12px;
     font-weight: 500;
     color: black;
 }
 .contact-box{
     background-color: #E5E5E5;
     width: 430px;
     height: 257px;
 }
 .contact-head{
     padding-top: 1.5rem;
     padding-bottom: 1.5rem;
     font-size: 16px;
 }
 .contact-desc{
     font-size: 16px;
 }
 .lines{
    border-top: 4px solid black;
    
 }

 .adore-icons1{
     height: 46px;
     width: 149px;
     border-radius: 25%;
     background-color: #25D366;
 }

 .adore-icons2{
    height: 46px;
    width: 149px;
    border-radius: 25%;
    background-color: #0E76A8
    ;
}

.adore-icons3{
    height: 46px;
    width: 149px;
    border-radius: 25%;
    background-color: #157575
    ;
}

 .wtsp{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 20px;
     padding: 10px;
     font-weight: 700;

 }

 .joins{
     height: 41px;
     width: 259px;
     background-color: #25D366;

 }
 .emails{
     height: 41px;
     width: 257px;
     background-color: white;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: large;
     font-weight: 500;
 }