.heading{
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    
}
.mentorss{
    padding-top: 30px;
}

.headings{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
.main-white{
    padding-left: 30rem;
    padding-right: 30rem;
}
.batch-head{
    font-size: large;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.batch-theory{
    font-size: 15px;
    border-style:ridge;
}
.border-add{
    
}
.impact{
    padding-left: 2rem;
    padding-right: 2rem;
}
.impact-content{
    background-color: #F5F5F5;
    border-style: ridge;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 2rem;
    
}
.impact-theory{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    padding-top: 2rem;
    
}
.circles{
    padding-top: 2rem;
    border-style: ridge;
    font-size: 2rem;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    
}
.impact-circle{
    padding-top: 2rem;
}
.journey{
    padding-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
}
.adore-theory{
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 400;
    font-size: 1.8rem;
    padding-top: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}