.heading{
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
}
.mentorss{
    padding-top: 30px;
}

.headings{
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
.main-home{
    
}
